@model EmployeeCrudOperation.Models.Department


<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <div class="card">
                <div class="card-header">
                    <h1 class="text-center text-primary">Update Department</h1>
                </div>
                <div class="card-body">
                    <form method="post" asp-action="CreateDeapartment">
                        <div class="form-group">
                            <label asp-for="Depart"></label>
                            <input type="hidden" asp-for="Id" />
                            <input type="text" class="form-control" asp-for="@Model.Depart" placeholder="Please enter department name" autocomplete="off" />
                            <span asp-validation-for="@Model.Depart" class="text-danger"> </span>
                        </div>

                        <div class="form-group">
                            <input type="submit" class="btn btn-success" value="SUBMIT" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

